.advantages {
  padding-bottom: 86px;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1273px;
  }

  &__title.title {
    margin-bottom: 15px;
    text-align: center;
  }

  &__desc {
    font-family: $ff-roboto;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $color-eclipse;
    max-width: 600px;
    margin-bottom: 74px;

    p {
      margin: 0;
    }
  }

  &__cards {
    .cards__image::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 64px;
      height: 64px;
      background-color: $color-atomic-tangerine;
      z-index: 1;
    }

    .cards__text {
      font-family: $ff-roboto;
      font-size: 15px;
      line-height: 23px;
      color: $color-default-black;
    }
  }
}
