.block-bg {
  width: 100%;
  background: $gradient-yellow;
  box-shadow: 5.5px 5.5px 29px $color-cooper;
  border-radius: 49px;


  &--mod {
    background: $gradient-yellow-3;
    border-radius: 44px;
  }
}
