.contacts {
  display: flex;
  margin: 0 10px;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;

  &__item{
    &:not(:last-child) {
      margin-right: 7px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    font-size: 13px;
    line-height: 20px;
    transition: color $trans-default;

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover,
      &:focus {
        color: $color-atomic-tangerine;
      }
    }
  }

  &__icon {
    width: 18px;
    height: 18px;
    margin-right: 10px;

    svg {
      width: 100%;
      height: 100%;
    }
  }
}
