.form {
  background: $color-default-white;
  border: 0.5px solid $color-atomic-tangerine;
  border-radius: 16px 8px 8px 16px;
  overflow: hidden;

  @include vp-767 {
    border: none;
    border-radius: 0;
    background-color: inherit;
  }

  .button--orange {
    color: $color-default-white;
    font-size: 21px;
    line-height: 31px;
    font-weight: 400;
    border-radius: 0;
    width: 210px;

    @include vp-767 {
      border-radius: 8px;
      width: 100%;
    }
  }

  form {
    display: flex;

    @include vp-767 {
      flex-direction: column;
      gap: 10px;
    }
  }

  input {
    border: none;
    outline: none;
    background-color: $color-default-white;
    font-size: 16px;
    line-height: 23px;
    padding: 20px 27px;
    letter-spacing: 0.03em;
    color: $color-gun-powder;
    flex: 1;

    &::placeholder {
      color: $color-suva-grey;
    }

    @include vp-767 {
      background: $color-default-white;
      border: 0.5px solid $color-atomic-tangerine;
      border-radius: 8px;
    }
  }

  &--sm {
    border: 0.33px solid $color-atomic-tangerine;
    border-radius: 8px;

    .button--orange {
      font-size: 14px;
      line-height: 20px;
      width: 148px;
    }

    input {
      font-size: 10px;
      line-height: 15px;
      padding: 13px 18px;
    }
  }
}
