.share {
  padding: 116px 0 105px;

  &__container {
    display: flex;
    align-items: center;
    max-width: 1112px;

    @include vp-1023 {
      flex-direction: column;
    }
  }

  &__img {
    flex-shrink: 0;
    margin: 0 81px 10px 10px;

    @include vp-1023 {
      margin: 0;
    }
  }

  &__title {
    color: $color-san-juan;
    margin-bottom: 17px;
  }

  &__text {
    p:not(:last-child) {
      margin-bottom: 25px;
    }
  }
}
