.unlimited {
  &__container {
    max-width: 1306px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    padding: 59px 41px 59px 111px;

    @include vp-767 {
      padding: 40px;
    }
  }

  &__img {
    width: 430px;
    height: 428px;
    margin-right: 165px;
    flex-shrink: 0;

    @include vp-1279 {
      width: 50%;
      height: auto;
      margin-right: 40px;
    }

    @include vp-1023 {
      display: none;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__title {
    margin-bottom: 15px;
  }

  &__text {
    margin-bottom: 20px;
    color:$color-eclipse;
  }

  &__btns {
    display: flex;
    gap: 10px;
    margin-bottom: 21px;

    @include vp-767 {
      flex-direction: column;
    }
  }

  &__tags {
    display: flex;
    margin-bottom: 22px;

    @include vp-767 {
      display: none;
    }
  }

  &__tag {
    position: relative;
    margin: 0;
    font-family: $ff-roboto;
    font-weight: 500;
    font-size: 11px;
    line-height: 17px;

    &:not(:last-child) {
      margin-right: 23px;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: -13px;
        transform: translateY(-50%);
        width: 3px;
        height: 13px;
        background-color: $color-atomic-tangerine;
      }
    }
  }
}
